
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="hero-area">
    <div class="hero-slides owl-carousel">

        <!-- Single Hero Slide -->
        <div class="cryptos-guide-line section-padding-100 bg-img bg-overlay" style="background-image: url(/Content/Site/img/bg-img/bg-3.jpg);height:765px;">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="section-heading white">
                            <h3 class="mb-4">Tüm hizmetler tam <span>Bütçenize Göre!</span></h3>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="guideline-content">
                            <!-- Single Step -->
                            <div class="single-step d-flex">
                                <div class="quantity">01</div>
                                <div class="step-content">
                                    <h6>Hesabınız Oluştur</h6>
                                    <p>Kayıt ol alanından ücretisz hesabını oluştur.</p>
                                </div>
                            </div>
                            <!-- Single Step -->
                            <div class="single-step d-flex">
                                <div class="quantity">02</div>
                                <div class="step-content">
                                    <h6>Bütçene Göre Sipariş Oluştur</h6>
                                    <p>Mağazaya göz at ve bütçene uygun siparişini oluştur.</p>
                                </div>
                            </div>
                            <!-- Single Step -->
                            <div class="single-step d-flex">
                                <div class="quantity">03</div>
                                <div class="step-content">
                                    <h6>Kolayca Ödemeni Yap</h6>
                                    <p>Siparişin onaylandıktan sonra ödemeni güvenle yap.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="guideline-thumb">
                            <img src="~/Content/Site/img/bg-img/hero.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<div class="col-12">
    <div class="section-heading text-center mx-auto">
        <h3>Kişiye ve Kuruma <span>Hizmetlerimiz</span></h3>
        <p>Codera ile artık pahalı hizmetler ve ürünler yok.Senin bütçene göre hizmetler var.Sepetini kontrol et! indirimleri kaçırma.</p>
    </div>
</div>
<div class="col-12">
    <div class="cryptos-cool-facts-area">
        <div class="row">

            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact text-center mb-100">
                    <i class="fas fa-laptop-code" style="color:#13151d;font-size:90px;"></i>
                    <h2>Web Geliştirme</h2>
                    <p>Dinamik ve Yönetim Panelli Kurumsal & Kişisel Websiteleri</p>
                    <div class="line"></div>

                </div>
            </div>

            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact text-center mb-100">
                    <i class="fas fa-laptop" style="color:#13151d;font-size:90px;"></i>
                    <h2>Web Tasarım</h2>
                    <p>Mobil Uyumlu Sizlere Özel Eşsiz Website Tasarımları.</p>
                    <div class="line"></div>

                </div>
            </div>

            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact text-center mb-100">
                    <i class="fas fa-pen-nib" style="color:#13151d;font-size:90px;"></i>
                    <h2>Logo Tasarım</h2>
                    <p>Vektörel ve Tescillenebilir Benzerlik Oranı Düşük Logo Tasarımları.</p>
                    <div class="line"></div>

                </div>
            </div>
            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact text-center mb-100">
                    <i class="fas fa-poll-h" style="color:#13151d;font-size:90px;"></i>
                    <h2>Sosyal Medya</h2>
                    <p>İçeriğinize ve Marka Kimliğini Uygun İlgi Çekici Sosyal Medya Tasarımları.</p>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact text-center mb-100">
                    <i class="fas fa-paragraph" style="color:#13151d;font-size:90px;"></i>
                    <h2>SEO İçerik</h2>
                    <p>Websitenizi Google'da Ön Sıralara Taşımak İçin İçerik Düzenlemeleri.</p>
                    <div class="line"></div>

                </div>
            </div>

            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact text-center mb-100">
                    <i class="fas fa-copyright" style="color:#13151d;font-size:90px;"></i>
                    <h2>Marka Tasarım</h2>
                    <p>Markanızın İçerik ve Sunum Açısından Tüm Eksiklerini Kapatıp Değerini Arttırabiliriz.</p>
                    <div class="line"></div>

                </div>
            </div>

            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact text-center mb-100">
                    <i class="fas fa-eye" style="color:#13151d;font-size:90px;"></i>
                    <h2>Marka İmajı</h2>
                    <p>Marka İmajı Çalışmalarında Dijital Pazarlama Platformlarında Daha Fazla Kitleye Ulaşmanız.</p>
                    <div class="line"></div>

                </div>
            </div>
            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact text-center mb-100">
                    <i class="fas fa-address-card" style="color:#13151d;font-size:90px;"></i>
                    <h2>Kurumsal Kimlik</h2>
                    <p>Kartvizit & E-Posta , Mailing Tasarımı , Antetli Zarf & Kağıt Tasarımı</p>
                    <div class="line"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- ##### Hero Area End ##### -->
<!-- ##### Course Area Start ##### -->
<div class="cryptos-feature-area section-padding-100-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <h3>Hizmetlerimizi gör<br><span>sepetine ekle</span> siparişini oluştur.</h3>
                    <p>Codera ile artık pahalı hizmetler ve ürünler yok.Senin bütçene göre hizmetler var.Sepetini kontrol et! indirimleri kaçırma.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Course Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-feature-area mb-100 text-center">
                    <i class="fas fa-eye"></i>
                    <h3>Hizmetlere Gözat ></h3>
                    <p>Hizmetlere göz atabilir ürünleri inceleyebilirsin.Fiyatları göremedin mi ? Çünkü her şey bütçene göre.</p>
                    <a href="#" class="btn cryptos-btn">Hizmetler</a>
                </div>
            </div>

            <!-- Single Course Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-feature-area mb-100 text-center">
                    <i class="fas fa-shopping-basket"></i>
                    <h3>Sepetine Ekle ></h3>
                    <p>Sepete göz atabilir ürünler ile ilgili bilgiler alabilirsin.Sepette indirim kodlarını ve paketleri gör.</p>
                    <a href="#" class="btn cryptos-btn">Sepet</a>
                </div>
            </div>

            <!-- Single Course Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-feature-area mb-100 text-center">
                    <i class="fas fa-shopping-cart"></i>
                    <h3>Siparişini Oluştur ></h3>
                    <p>Sipariş oluştururken gerekli bilgileri kısa ve açıkca belirtebilirsin.Hizmetlerini ve bütçeni seç , başla.</p>
                    <a href="#" class="btn cryptos-btn">Sipariş</a>
                </div>
            </div>

            <!-- Single Course Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-feature-area mb-100 text-center">
                    <i class="fas fa-money-bill-wave-alt"></i>
                    <h3>Güvenle Ödemeni Yap</h3>
                    <p>Ödemeler siparişlerin bizler tarafından onaylandıktan sonrasında yapılır.Birden fazla ödeme yöntemi kullanabilirsin.</p>
                    <a href="#" class="btn cryptos-btn">Ödeme Detayları</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="cryptos-video-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-content mb-100">
                    <div class="section-heading">
                        <h3><span>Hakkımızda</span></h3>
                        <h5>Codera ile güvenilir ve hızlı alışverişer yapabilirsin.Bütçene en uygun hizmeti kendir belirleyebilirsin.Memnun olmamak elde değil.</h5>
                        <p>Çalıştığımız firmalar ve yaptığımız işlere göz atabilirsin.Aklına takılan sorular için SSS(Sıkça Sorulan Sorular) alanında sorularına cevap bulabilirsin ya da yeni bir soru sorabilirsin.7/24 iletişim hattımız aktiftir.</p>
                        <a href="/About/Index/" class="btn cryptos-btn mt-30">Dahası</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="video-area mb-100">
                    <img src="~/Content/Site/img/bg-img/bg-4.jpg" alt="">
                    <div class="video-btn">
                        <a href="https://www.youtube.com/watch?v=f5BBJ4ySgpo" class="videobtn"><img src="~/Content/Site/img/bg-img/video-btn.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="newsletter-area mt-100">
                <div class="section-heading text-center mx-auto">
                    <h3>Haber Bültenimize <span>Abone Ol</span></h3>
                    <h6>Haber bültenine abone olduktan sonra yeni gelen indirimlere ilk sen ulaşırsın.Gereksiz mail atılmaz her şey sizin için.</h6>
                </div>
                <form action="#" method="post">
                    <input type="email" name="email" placeholder="Haber Bültenine Abone Ol">
                    <button type="submit">Abone Ol</button>
                </form>
            </div>
        </div>
    </div>
</div>



