
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcumb-area">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6">
                <div class="breadcumb-text">
                    <h2>İletişim</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcumb Thumb Area -->
    <div class="breadcumb-thumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb-thumb">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="contact-area section-padding-100-0">
    <div class="container">
        <div class="row">

            <!-- Contact Information -->
            <div class="col-12 col-lg-6">
                <div class="contact-information mb-100">

                    <!-- Contact Logo -->
                    <div class="contact-logo mb-50">
                        <a href="#"><img src="~/Content/Site/img/bg-img/Kodzip.png" style="width:150px;" alt=""></a>
                        <h4>Kodzip</h4>
                    </div>

                    <p>
                        3hite ile güvenilir ve hızlı alışverişer yapabilirsin.Bütçene en uygun hizmeti kendir belirleyebilirsin.Memnun olmamak elde değil.
                        Çalıştığımız firmalar ve yaptığımız işlere göz atabilirsin.Aklına takılan sorular için SSS(Sıkça Sorulan Sorular) alanında sorularına cevap bulabilirsin ya da yeni bir soru sorabilirsin.
                    </p>

                    <!-- Contact Social Info -->
                    <div class="contact-social-info d-flex mt-50 mb-50">
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex">
                        <div class="contact-icon mr-15">
                            <i class="fa fa-map"></i>
                        </div>
                        <p>16/9 12 Harman Sokak , Altındağ/Ankara</p>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex">
                        <div class="contact-icon mr-15">
                            <i class="fa fa-phone"></i>
                        </div>
                        <p>0 555 666 88 88 <br>0 555 666 88 88  </p>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex">
                        <div class="contact-icon mr-15">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <p>info@3hite.com</p>
                    </div>
                </div>
            </div>

            <!-- Contact Form Area -->
            <div class="col-12 col-lg-6">
                <div class="contact-form-area mb-100">
                    <form action="#" method="post">
                        <input type="text" class="form-control" id="name" placeholder="İsim & Soyisim">
                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Mesajınız"></textarea>
                        <button class="btn cryptos-btn btn-2 mt-30" type="submit">Mesajını İlet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

