
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Web yazılım,Web Tasarım,Logo,SEO,indirim,websitesi,web,site,">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Codera - Yazılım &amp; Web Hizmetleri</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/Site/img/core-img/favicon.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/Content/Site/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                            <!-- Top Headline -->
                            <div class="top-headline">
                                <p><span>Codera</span> 'ya hoş geldiniz.</p>
                            </div>
                            <!-- Top Login & Faq & Earn Monery btn -->
                            <div class="login-faq-earn-money">
                               
                                <a href="/Contact/Index/" class="active"><i class="fas fa-phone-alt"></i> İletişim</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Area -->
        <div class="cryptos-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="cryptosNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html"><img src="~/Content/Site/img/bg-img/Kodzip.png" style="width:150px;" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/Home/Index/">Ana Sayfa</a></li>
                                    <li><a href="/About/Index/">Hakkımızda</a></li>
                                    <li>
                                        <a href="#">Çalışmalar</a>
                                        <ul class="dropdown">
                                            <li><a href="/About/Index/">Web Alanında</a></li>
                                            <li><a href="/About/Index/">Tasarım Alanında</a></li>
                                            <li><a href="/About/Index/">İçerik Alanında</a></li>


                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/Services/Index/">Hizmetler</a>
                                        <ul class="dropdown">
                                            <li><a href="/Services/Web/">Web Sitesi</a></li>
                                            <li><a href="/Services/Otomasyon/">Otomasyon</a></li>
                                            <li><a href="/Services/Logo/">Logo Tasarım</a></li>
                                            <li><a href="/Services/Web/">Google Hizmetleri</a></li>
                                            <li><a href="/Services/Web/">SEO İçerik</a></li>
                                            <li><a href="/Services/Web/">Sosyal Medya</a></li>
                                            <li><a href="/Services/Web/">Marka İmaj</a></li>


                                        </ul>
                                    </li>
                                    <li><a href="#">Hızlı Sipariş</a></li>
                                    <li><a href="#">Medya</a></li>

                                </ul>

                                <!-- Newsletter Form -->
                                <div class="header-newsletter-form">
                                    <form action="#" method="post">
                                        <input type="email" name="email" id="email" placeholder="Aranacak...">
                                        <button type="submit">Ara</button>
                                    </form>
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section-padding-100-0 bg-img bg-overlay">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <a href="#"><img src="~/Content/Site/img/bg-img/Kodzip.png" style="width:150px;" alt=""></a>
                            </div>
                            <p>Web yazılım & Web Tasarım & Logo Tasarım & SEO & Sosyal Medya Tasarım & Marka Çalışması</p>
                            <a href="https://www.instagram.com/kodzip/"><i class="fab fa-instagram" style="color:#0A374C; font-size:20px; padding:5px;"></i></a>
                            <a href="https://www.instagram.com/kodzip/"><i class="fab fa-twitter" style="color:#0A374C; font-size:20px; padding:5px;"></i></a>
                            <a href="https://www.instagram.com/kodzip/"><i class="fab fa-github" style="color:#0A374C; font-size:20px; padding:5px;"></i></a>
                           
                        </div>
                   
                    </div>


                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Son Gönderiler</h6>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="single--blog-post">
                                <a href="#">
                                    <p>Yazılım geliştirme kampları hakkında</p>
                                </a>
                                <span>10 Mart, 2021</span>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="single--blog-post">
                                <a href="#">
                                    <p>Yazılım'da ki yenilikler.</p>
                                </a>
                                <span>7 Mart, 2021</span>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="single--blog-post">
                                <a href="#">
                                    <p>1 m $ 'a satılan o logo.</p>
                                </a>
                                <span>5 Mart, 2021</span>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Hızlı Linkler</h6>
                            </div>
                            <nav>
                                <ul class="useful-links d-flex justify-content-between flex-wrap">
                                    <li><a href="#">Ana Sayfa</a></li>
                                    <li><a href="#">Hakkımızda</a></li>
                                    <li><a href="#">Çalışmalarımız</a></li>
                                    <li><a href="#">Hizmetler</a></li>
                                    <li><a href="#">Medya</a></li>
                                    <li><a href="#">For Developers</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Üye Ol</a></li>
                                    <li><a href="#">Giriş Yap</a></li>
                                    <li><a href="#">İletişim</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır designed by <a href="https://oruchankural.com.tr" target="_blank">Codera</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="~/Content/Site/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/Site/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Content/Site/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/Content/Site/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Content/Site/js/active.js"></script>
</body>

</html>